body {
    font: arial normal 25pt;
    color: #9c88ff;
}

header {
    text-align: center;

}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: auto;
    box-shadow: 0 0 10px whitesmoke;
}

footer {
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 6px;

}

img {
    border-radius: 20px;
    width: 150px;
}